# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
.env

# Notebooks / OS
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Local artifacts (keep folders, ignore trained files)
models/*.joblib
models/*.pkl
reports/figures/*.png
reports/figures/*.jpg
reports/figures/*.svg
